# Análise da Carteira

In [1]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

ds_yahoo = 'yahoo'

last_year = datetime.datetime.now().year - 1
start = datetime.datetime.now().replace(year=last_year)
end = datetime.datetime.now()

## Portfolio Brasileiro Atual

### Pegando os dados na API do Yahoo

In [2]:
acao = web.DataReader('MGLU3.SA', ds_yahoo, start, end)

## Normalizando o retorno diário de cada ativo do portfólio

In [3]:
acao['Retorno Normalizado'] = acao['Adj Close'] / acao.iloc[0]['Adj Close']

In [4]:
acao['Retorno Diario R$'] = acao['Adj Close'].diff(1)

In [7]:
acao['Retorno Diario %'] = round(acao['Adj Close'].pct_change(1) * 100, 2)

In [8]:
acao

,High,Low,Open,Close,Volume,Adj Close,Retorno Normalizado,Retorno Diario R$,Retorno Diario %,Parcial
Date,,,,,,,,,,
2018-11-14,19.537500,18.688700,19.293800,19.437500,11627200.0,18.549950,1.000000,NaN,NaN,NaN
2018-11-16,19.715000,19.375000,19.611200,19.562500,10806400.0,18.669243,1.006431,0.119293,0.64,18.669243
2018-11-19,19.725000,19.282499,19.625000,19.518700,5355200.0,18.627441,1.004177,-0.041801,-0.22,18.508148
2018-11-21,19.606300,19.025000,19.348700,19.405001,7469600.0,18.518934,0.998328,-0.108507,-0.58,18.441442
2018-11-22,20.000000,19.376200,19.388800,20.000000,9015200.0,19.086765,1.028939,0.567831,3.07,19.117781
...,...,...,...,...,...,...,...,...,...,...
2019-11-08,44.790001,42.950001,43.509998,43.810001,10639700.0,43.810001,2.361732,-0.389999,-0.88,18.159950
2019-11-11,45.480000,43.240002,43.500000,45.020000,11163900.0,45.020000,2.426961,1.209999,2.76,19.759949
2019-11-12,45.459999,43.070000,45.200001,43.400002,16359300.0,43.400002,2.339629,-1.619999,-3.60,16.929951
2019-11-13,42.880001,41.700001,42.860001,42.500000,22822800.0,42.500000,2.291111,-0.900002,-2.07,17.649948
2019-11-14,44.200001,42.570000,42.700001,44.070000,7472800.0,44.070000,2.375748,1.570000,3.69,20.119949

## Desempenho da carteira

In [ ]:
acao['Total'] = acao[]

In [ ]:
print('Investimento inicial:')
print(acao['Total'][0])
print('Investimento final:')
print(round(acao['Total'][-1], 2))

In [ ]:
portfolio_posicao['Total'].plot(figsize=(17,6))
plt.title('Posição total do portfolio');

## Desempenho da Carteira Normalizada

In [ ]:
portfolio_normalizado = portfolio_acoes / portfolio_acoes.iloc[0]
portfolio_normalizado.plot(figsize=(17,6));

## Retorno diário da carteira

In [ ]:
portfolio_posicao['Retorno Diario'] = portfolio_posicao['Total'].pct_change(1)

In [ ]:
# Média de retorno diário
round_ret_medio_diario = round(portfolio_posicao['Retorno Diario'].mean() * 100, 2)
print('Essa carteira rende em média {}% diariamente'.format(round_ret_medio_diario))

In [ ]:
# Desvio Padrão do retorno diário
portfolio_posicao['Retorno Diario'].std()

In [ ]:
# Gráfico de densidade
portfolio_posicao['Retorno Diario'].plot(kind='kde', figsize=(4,5));

In [ ]:
print('Nos últimos 12 meses houve {} pregões.'.format(len(portfolio_posicao)))
print('Sendo que {} dias foram de queda e {} dias de alta'
      .format(len(portfolio_posicao[portfolio_posicao['Retorno Diario'] > 0]),
             len(portfolio_posicao[portfolio_posicao['Retorno Diario'] < 0])))

## Retorno Total da Carteira

In [ ]:
retorno_total_acumulado = 100 * (portfolio_posicao['Total'][-1] / portfolio_posicao['Total'][0] - 1)
round_ret = round(retorno_total_acumulado, 3)
print('Essa carteira rendeu {}%'.format(round_ret))