# Buy & Hold

In [1]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

ds_yahoo = 'yahoo'

last_year = datetime.datetime.now().year - 1
start = datetime.datetime.now().replace(year=last_year)
end = datetime.datetime.now()

In [5]:
tickers = ['ITUB4.SA', 'ABEV3.SA', 'USIM5.SA', 'PMAM3.SA', 'FLRY3.SA',
           'PSSA3.SA', 'TIET4.SA', 'LEVE3.SA', 'WHRL3.SA',
           'LB', 'M',
           'IAU', 'BTC-USD']

itau = web.DataReader(tickers[0], ds_yahoo, start, end)
abev = web.DataReader(tickers[1], ds_yahoo, start, end)
usim = web.DataReader(tickers[2], ds_yahoo, start, end)
pmam = web.DataReader(tickers[3], ds_yahoo, start, end)
flry = web.DataReader(tickers[4], ds_yahoo, start, end)
pssa = web.DataReader(tickers[5], ds_yahoo, start, end)
tiet = web.DataReader(tickers[6], ds_yahoo, start, end)
leve = web.DataReader(tickers[7], ds_yahoo, start, end)
whrl = web.DataReader(tickers[8], ds_yahoo, start, end)
lb   = web.DataReader(tickers[9], ds_yahoo, start, end)
m    = web.DataReader(tickers[10], ds_yahoo, start, end)
iau  = web.DataReader(tickers[11], ds_yahoo, start, end)
bitcoin = web.DataReader(tickers[12], ds_yahoo, start, end)

In [4]:
itau

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-11-28  36.090000  34.820000  35.099998  36.029999  19325800.0  34.877506
2018-11-29  36.480000  35.509998  35.619999  36.349998  14529100.0  35.187271
2018-11-30  36.830002  36.020000  36.060001  36.020000  21824300.0  34.867817
2018-12-03  36.799999  35.270000  36.799999  35.549999  23860300.0  34.427193
2018-12-04  36.020000  34.950001  35.650002  35.509998  23397800.0  34.388458
...               ...        ...        ...        ...         ...        ...
2019-11-22  35.830002  35.209999  35.259998  35.730000  16433000.0  35.730000
2019-11-25  35.900002  35.009998  35.790001  35.220001  15202500.0  35.220001
2019-11-26  35.090000  34.349998  35.000000  34.500000  26176400.0  34.500000
2019-11-27  34.930000  34.259998  34.700001  34.700001  19366600.0  34.700001
2019-11-28  34.700001  34.020000  34.450001  34.509998  11146600.0  34.509998

[249 rows x 6 columns]